*/.project
*.iml
*/.settings
.idea
*/.classpath
**/target
**/logs
compressed/
**/dblogs
**/.classpath
*.project
**/**/.factorypath
*/bin/*
*.settings
*classes*
**/node_modules
*.json
*.wav
**/out
**/upgrade-log/

